<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<div class="sidebar" ng-controller="NavController" style="text-align: center; background-color: rgb(37, 31, 78);color: #ddd; font-weight: bolder;">
  <a href="/login"><img src="/assets/logo.png" alt="logo" style="border-radius: 50%; margin-top: 30px;" height="120px"></a>
  <a href="/home" style="color: #ddd;">Home</a>
  <a href= "/javascript" style="color: #ddd;">Javascript</a>
  <a href="/angular" style="color: #ddd;">Angular</a>
  <a href="/java"style="color: #ddd;">Java </a>
  <a href="/about"style="color: #ddd;">About</a>
  <a href="/contact"style="color: #ddd;">Contact</a>
  <a href="/post"style="color: #ddd;">Post</a><br><br><br>
  <div class="contact-icons">
    <a href="https://twitter.com/yourusername" style="color: #c3b7e1;"><i class="fab fa-twitter"></i></a>
    <a href="https://instagram.com/yourusername"style="color: #c3b7e1;"><i class="fab fa-instagram"></i></a>
    <a href="mailto:rutujatambe444@gmail.com" style="color: #c3b7e1;"><i class="far fa-envelope"></i></a>
</div>
  </div>
  <div style="display: flex;">
  <div>
     <img src="/assets/javalogo.png" alt="js" srcset="" style="height: 100px; margin-left: 250px;">
  </div>
  <div><h1 style="margin-top: 45px;">Java</h1></div></div> <br><br><br>
  <div style="margin-left: 350px; width: 50%; font-size: large">
  <h1>The Arrival of Java 21</h1><br>
  <div><img src="/assets/sharat.avif" alt="autherlogo " style="height: 30px;"> Sharat chander | January 19, 2023 </div><br><hr>
  <p>Oracle is proud to announce the general availability of JDK 21. This release is the 12th Feature Release delivered on time through the six-month release cadence. This level of predictability allows developers to easily manage their adoption of innovation thanks to a steady stream of expected improvements.</p>
<img src="/assets/java1.png" width="700px"><br>
<p>Java’s ability to boost performance, stability, and security continues to make it the world’s most popular programming language.</p>
<br><h3>JDK 21 is now available!</h3><br>
<p>Oracle now offers JDK 21 for developers, end-users, and enterprises.</p>
<p>Oracle will offer long term support for Java 21 for at least eight years. This extended support period gives organizations flexibility to keep applications in production longer with minimal maintenance, and to eventually migrate on their own terms. Based on customer feedback and use in the Java ecosystem, Oracle has also announced that long term support for Java 11 has been extended through at least January 2032, providing at least eight more years of support and updates from Oracle.</p>
<h3>Java 21, Together</h3>
<p>As did with previous releases, Java 21 celebrates the contributions of many individuals and organizations in the OpenJDK Community — we all build Java, together!</p>
<h3 class="text-danger">JDK 21 Fix Ratio</h3>
<p>The rate of change over time in the JDK releases has remained largely constant for years, but under the six-month cadence the pace at which production-ready features and improvements are delivered has sharply increased.</p>
<p>Instead of making tens of thousands of fixes and delivering close to one hundred JEPs (JDK Enhancement Proposals) every few years, as we did with yesteryear Major Releases, enhancements are delivered in leaner Feature Releases on a more manageable, predictable, six-month schedule. The changes range from significant new features to small enhancements to routine maintenance, bug fixes, and documentation improvements. Each change is represented in a single commit for a single issue in the JDK Bug System.</p>
<p>Of the 24,196 JIRA issues marked as fixed in Java 11 through Java 21 at the time of their GA, 17,288 were completed by people working for Oracle while 6,908 were contributed by individual developers and developers working for other organizations. Going through the issues and collating the organization data from assignees results in the following chart of organizations sponsoring the development of contributions in Java:</p><br>
<img src="/assets/java2.png" alt="" srcset="" width="700px"><br>
<p>In Java 21, of the 2,585 JIRA issues marked as fixed, 1,868 were completed by Oracle, while 717 were contributed by other members of the Java community.</p>
<p>Oracle would like to thank the developers working for organizations including Amazon, ARM, Azul, Google, Huawei, IBM, Intel , ISCAS, Red Hat, Rivos, SAP and Tencent for their notable contributions. We are also thankful to see contributions from smaller organizations such as Bellsoft, and Loongson, as well as independent developers who collectively contributed 8% of the fixes in Java 21.</p>
<p>Additionally, through the OpenJDK Quality Outreach program we would like to thank the following FOSS projects that provided excellent feedback on testing Java 21 early access builds to help improve the quality of the release:</p>
<br><ul>
  <li> Apache Commons</li>
  <li>Apache ZooKeeper </li>
  <li> AssertJ</li>
  <li> BNYM Code Katas</li>
  <li>JUnit5 </li>
  <li>Karate </li>
  <li>MyBatis </li>
</ul><br>
<h3>New in Java 21</h3><br>
<p>Along with thousands of performance, stability and security updates, Java 21 delivers dozens of new features and enhancements, 15 of those enhancements are significant enough to warrant their own JDK Enhancement Proposals - JEPs, covering six preview features and one incubator feature.</p>
<p>JEP Preview Features are fully specified and fully implemented Language or VM Features of the Java SE Platform; and yet impermanent. They are made available in JDK Feature Releases to allow for developer feedback based on real-world uses, before them becoming permanent in a future release. This also affords tool vendors the opportunity to work towards supporting features before they are finalized into the Java SE Standard.</p>
<p>JEP Incubator modules allow putting non-final APIs and non-final tools in the hands of developers and users to gather feedback that will ultimately improve the quality of the Java platform.</p>
<p>The 15 JEPs delivered with Java 21 are grouped into six categories mapping to key long-term Java technology projects and hardware support.</p>



</div>
<footer>
  <div class="footer">
    <p>&copy; 2024 Blog Website. All rights reserved. | Designed by <a href="#">Rutuja Tambe</a></p>
  </div>

</footer>

