.sidebar {
    width: 200px;
    height: 100%;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
  }

  .sidebar a:hover {
    background-color: #c3b7e1;
    color: black;
  }
  .footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    
    bottom: 0;
    width: 100%;
  }

  /* Footer link styles */
  .footer a {
    color: white;
    text-decoration: none;
  }

  .footer a:hover {
    text-decoration: underline;
  }
  .contact-icons {
    display: flex;
    align-items: center;
}
.contact-icons a {
    margin-right: 10px;
    color: #c3b7e1;
    font-size: 24px;
}